<div class="my-8 px-4">
  <div class="flex gap-4 overflow-x-auto pb-4 no-scrollbar justify-start md:justify-center">
    <div (click)="selectCategory(null)"
         class="flex flex-col items-center gap-2 cursor-pointer flex-none w-24 group">

      <div class="w-16 h-16 rounded-full flex items-center justify-center transition-all duration-300 shadow-md border"
           [class.bg-orange-600]="selectedCategoryName === null"
           [class.text-white]="selectedCategoryName === null"
           [class.border-orange-600]="selectedCategoryName === null"
           [class.bg-white]="selectedCategoryName !== null"
           [class.text-gray-600]="selectedCategoryName !== null"
           [class.border-gray-100]="selectedCategoryName !== null">

        <span class="material-symbols-outlined text-3xl">apps</span>
      </div>

      <span class="text-xs font-bold text-gray-700 group-hover:text-orange-600 transition-colors text-center uppercase tracking-tighter">
        Todos
      </span>
    </div>
    
    @for (cat of categories; track cat.id) {
      <div (click)="selectCategory(cat.name)" 
           class="flex flex-col items-center gap-2 cursor-pointer flex-none w-24 group">
        
        <div class="w-16 h-16 rounded-full flex items-center justify-center transition-all duration-300 shadow-md border group-hover:bg-orange-600 group-hover:text-white"
             [class.bg-orange-600]="selectedCategoryName === cat.name"
             [class.text-white]="selectedCategoryName === cat.name"
             [class.border-orange-600]="selectedCategoryName === cat.name"
             [class.bg-white]="selectedCategoryName !== cat.name"
             [class.text-gray-600]="selectedCategoryName !== cat.name"
             [class.border-gray-100]="selectedCategoryName !== cat.name">
          
          <span class="material-symbols-outlined text-3xl">
            {{ getIcon(cat.name) }}
          </span>
        </div>
        
        <span class="text-xs font-bold text-gray-700 group-hover:text-orange-600 transition-colors text-center uppercase tracking-tighter">
          {{ cat.name }}
        </span>
      </div>
    }

  </div>
</div>
